<div  style="align-items: center;">
    <img src="/assets/logo.jpg" alt="image" />

    <div class="ml-12" >

        <h3 class="mt-3" style="font-weight:bold">
            About
        </h3>
        <span>
            To make your daily commute easier, more economical and more eco-friendly. <br>
            Create your ride by making a post that includes: <br>
            - from which place you start to which place you have to go/ where you want to go to <br>
            -what days/ what time <br>
            -how many seats are available <br>
            -include anything relevant like smoking or pet rules <br>
            Please report any suspicious member or comment. <br>
            Please adhere to common-sense safety precautions. <br>
            اذا معك سيارة فيد غيرك لي ما معو سيارة ... او بنزين 🚙 <br>
            يهدف الجروب الى التخفيف من حدة الأزمة القتصادية التي تمر على بلدنا <br>
            لبنان وتساهم في تخفيف زحمة المواصلات وعبء المواصلات المادي <br>
            مثلا لمشاركة الناس بعضهم البعض في الذهاب الى اماكن عملهم المتقاربة <br>
            او الجامعات او المدارس <br>
            الرجاء الالتزلم : <br>
            -بقواعد السلامة المرورية <br>
            -أساس التعامل المحترم بين الأطراف <br>
            قد يرغب الشخص أن ينقلك معه مجانا او ان يتقيد بالتسعيرة المحددة بالتالي, او ان يزيد عليها قليلا</span>
    </div>
</div>